{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="table-responsive text-nowrap">
        <h2 class="mt-3">Order Summary</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Movie Name</th>
                    <th scope="col" class="text-center">Rental Duration</th>
                    <th scope="col" class="text-center">Remove</th>
                    <th scope="col" class="text-center">Price</th>
                </tr>
            </thead>
            <tbody>
                {% if order.items.all %}
                {% for order_item in order.items.all %}
                <tr>
                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                    <td class="text-center"> <a class="text-decoration-none text-dark"
                            href="{{ order_item.item.get_absolute_url }}">
                            {{ order_item.item.title }}</a></td>
                    <td class="text-center">{{ order_item.get_duration_display }}</td>
                    <td class="text-center"><a href="{{order_item.item.get_remove_from_cart_url}}"
                            class="btn btn-danger btn-md-my-0 p">
                            <span class="fas fa-trash-alt"></span>
                        </a></td>
                    <td class="text-center">&#x20B9;{{ order_item.price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="4">Order Total:</th>
                    <td class="text-center"><b>&#x20B9;{{order.get_total}}</b></td>
                </tr>
                <tr>
                    <td colspan="5" class="text-center"><a href="/checkout" class="btn btn-warning">
                            Checkout
                        </a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center"><a href="/" class="btn btn-success">
                            Your cart is empty :( Shop more!
                        </a></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}