.form-control:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .5)
}

.profile-button {
    background: #212529;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #212529;
}

.profile-button:focus {
    background: #212529;
    box-shadow: none
}

.profile-button:active {
    background: #212529;
    box-shadow: none
}

.back:hover {
    color: #212529;
    cursor: pointer
}

.labels {
    font-size: 11px
}